/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------------------------------*
/** end reset css**/

html {
    overflow-x: hidden;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Work Sans';
    overflow-x: hidden;
    font-size: 14px;
    background-color: #FFFEF8;
}

section {
    margin: 150px auto;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

/*----------------------------------------------*
/** end general css**/

.body_header {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 70px auto;
    max-width: 1140px;
}

.main_navigation_links {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.link {
    padding: 0 20px;
    font-size: 1.2em;
}

.link_image {
    height: 19px;
}

.link:nth-child(3) {
    font-weight: 600;
}

.link:hover {
    color: #B1663C;
    cursor: pointer;
}

/*----------------------------------------------*
/** end main navigation **/

.body_footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.footer_navigation {
    position: absolute;
    top: -20%;
    width: 100%;
    height: fit-content;
}

.footer_navigation_links {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}

/*----------------------------------------------*
/** end footer css**/
/*----------------------------------------------*/
/*--end layout--*/

#login {
    width: 40%;
}

#login>* {
    text-align: center;

}

#login h2 {
    margin-bottom: 20px;
}

#login form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#login input {
    padding-left: 10px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
    margin: 2em 0 1em 0;
}

#login textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.credential_error {
    margin: 2em auto 0 auto;
    color: rgb(220, 0, 0);
}

.credential_animation {
    animation: credential_error .2s linear;
}

@keyframes credential_error {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-15px);
    }

    50% {
        transform: translateX(0%);
    }

    75% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0%);
    }
}

.pass_lost {
    text-decoration-line: underline;
}

.pass_lost:hover {
    cursor: pointer;
}

.not_displayed {
    display: none;
}